* {
    margin: 0;
    padding: 0;
}

.Body {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #22272e;
}

.PieceContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
}

.PromoSelector {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: #22272e;
}

#SetBoard {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 100px;
    width: 200px;
    font-size: 2rem;
    background-color: red;
    border: none;
}

#SetBoard:hover {
    background-color: lightcoral;
    cursor: pointer;
}

.ChessBoard {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vw;
    width: 90vw;
    max-height: 800px;
    max-width: 800px;
    background-color: blue;
}

.Square {
    position: relative;
    height: 12.5%;
    width: 12.5%;
}

.Light {
    background-color: #7ca0bf;
}
.Dark {
    background-color: #5084ac;
}

img {
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
}

img:hover {
    cursor: pointer;
}
