* {
    margin: 0;
    padding: 0;
}

.Body {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #22272e;
}

.PieceContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
}

.PieceContainer img {
    height: calc(min(90vw, 800px) / 8);
    width: calc(min(90vw, 800px) / 8);
}

.PromoSelector {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: #22272e;
}

.Checkmate {
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    height: 200px;
    width: 400px;
    display: none;
    flex-direction: column;
    padding: 20px;
    border-radius: 50px 0 50px 0;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 30px black;
}

.Checkmate h1 {
    color: lime;
    text-align: center;
    font-size: 64px;
}

.Checkmate button {
    width: 50%;
    background-color: lime;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
    font-family: "Times New Roman", Times, serif;
    border-radius: 10px;
    margin-top: 20px;
}

.Checkmate button:hover {
    cursor: pointer;
}

#SetBoard {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 100px;
    width: 200px;
    font-size: 2rem;
    background-color: red;
    border: none;
}

#SetBoard:hover {
    background-color: lightcoral;
    cursor: pointer;
}

.ChessBoard {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vw;
    width: 90vw;
    max-height: 800px;
    max-width: 800px;
    background-color: blue;
}

.Square {
    position: relative;
    height: 12.5%;
    width: 12.5%;
}

.Light {
    background-color: #7ca0bf;
}
.Dark {
    background-color: #5084ac;
}

.RightMenu {
    position: relative;
    height: min(90vw, 800px);
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
}

#reset,
#flip {
    margin-top: 0.5rem;
    height: 30px;
    border: none;
    background-color: transparent;
}

#flip {
    position: absolute;
    bottom: 0.5rem;
}

#reset img,
#flip img {
    height: 30px;
    opacity: 0.7;
}

img:hover {
    cursor: pointer;
}
